{% load static %}
<footer class="col-md-12 col-sm-12" style=" width: 100%; background-color: #b8b3be; padding: 50px; position: relative;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Popular Locations</h3>
        <ul class="list-unstyled">
          <li><span>Kampala</span></li>
          <li><span>Mbarara</span></li>
          <li><span>Masaka</span></li>
          <li><span>Gulu</span></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Popular Tags</h3>
        <div>
          <span class="badge badge-secondary">Mbarara</span>
          <span class="badge badge-secondary">Kampala</span>
          <span class="badge badge-secondary">2 Bedroom House</span>
          <span class="badge badge-secondary">Kampala</span>
          <span class="badge badge-secondary">2 Bedroom House</span>
          <span class="badge badge-secondary">3 Bedroom House</span>
          <span class="badge badge-secondary">Bungalow</span>
          <span class="badge badge-secondary">Residential</span>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Follow Us</h3>
        <div class="social-icons">
          <a href="#" style="margin-right: 10px"><i class="fa fa-facebook"></i></a>
          <a href="#" style="margin-right: 10px"><i class="fa fa-instagram"></i></a>
          <a href="#" style="margin-right: 10px"><i class="fa fa-twitter"></i></a>
          <a href="#" style="margin-right: 10px"><i class="fa fa-pinterest-p"></i></a>
          <a href="#" style="margin-right: 10px"><i class="fa fa-snapchat"></i></a>
          <a href="#" style="margin-right: 10px"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
